In [1]:
import pandas as pd
import torch
from hypothesis_tests import chatterjee, benjamini_hochberg

## Spellman Yeast Gene Expression Data

In [2]:
spellman = pd.read_csv("data/spellman_gene_expr_data.csv", header=0)
spellman.head()

,time,YAL001C,YAL014C,YAL016W,YAL020C,YAL022C,YAL036C,YAL038W,YAL039C,YAL040C,...,YPR189W,YPR191W,YPR193C,YPR194C,YPR197C,YPR198W,YPR199C,YPR201W,YPR203W,YPR204W
0,40,-0.07,0.215,0.15,-0.350,-0.415,0.540,-0.625,0.05,0.335,...,0.13,-0.435,-0.005,-0.365,0.015,-0.06,0.155,-0.255,0.57,0.405
1,50,-0.23,0.090,0.15,-0.280,-0.590,0.330,-0.600,-0.24,0.050,...,0.08,-0.130,0.020,-0.590,0.100,0.08,0.190,-0.360,0.12,0.170
2,60,-0.10,0.025,0.22,-0.215,-0.580,0.215,-0.400,-0.19,-0.040,...,-0.06,-0.350,-0.180,-0.550,0.210,0.21,0.235,-0.300,-0.07,-0.045
3,70,0.03,-0.040,0.29,-0.150,-0.570,0.100,-0.200,-0.14,-0.130,...,-0.20,-0.570,-0.380,-0.510,0.320,0.34,0.280,-0.240,-0.26,-0.260
4,80,-0.04,-0.040,-0.10,0.160,-0.090,-0.270,-0.130,-1.22,0.020,...,0.05,-0.210,0.030,0.390,0.110,0.65,-0.260,1.300,-0.44,-0.600

In [3]:
print(spellman.shape)
print(spellman.columns[0:10])

(23, 4382)
Index(['time', 'YAL001C', 'YAL014C', 'YAL016W', 'YAL020C', 'YAL022C',
       'YAL036C', 'YAL038W', 'YAL039C', 'YAL040C'],
      dtype='object')

In [4]:
spellman = pd.read_csv("data/spellman_gene_expr_data.csv", header=0)
x = torch.tensor(spellman["time"].values)
genes = list(spellman.columns[1:])
pvals = torch.zeros(len(genes))
for i, gene in enumerate(genes):
    y = torch.tensor(spellman[gene].values)
    pvals[i] = chatterjee(x, y, compute_pvalue=True)[1]

In [7]:
rejects_idx = benjamini_hochberg(pvals)
len(rejects_idx)

585

In [10]:
reject_genes = [genes[i] for i in rejects_idx]

In [13]:
selected = ["YOR308C", "YJL115W", "YGR177C", "YPR119W", "YKL127W", "YHR143W"]

for gene in selected:
    print(gene in reject_genes)

True
True
True
True
True
True

In [14]:
not_selected = ["YOR140W", "YCL021W", "YJR086W", "YLR406C", "YLR283W", "YOR378W"]

for gene in not_selected:
    print(gene in reject_genes)

False
False
False
False
False
False

## Galton's Peas Data

In [ ]:
peas = pd.read_csv("data/galton_peas_data.csv", header=0)

In [ ]:
peas

In [ ]:
# Contingency table for peas.

tab = pd.crosstab(peas["child"], peas["parent"])

In [ ]:
tab

In [ ]:
tab.shape